.carousel-inner{
    max-height: 30rem;

}
#fondo{
    background-color: #686b71;
}
#carouselExampleIndicators{
    max-height: 30rem;
}

.header.main{
    height: 100vh;
}

@media screen and (max-width:376px){
    .header.main{
        height: initial;
    }
    

}